@{
    ViewBag.Title = "О проекте";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<article>
    <p>ВКонтакте сотрет границы между интернетом и реальностью. 18 и 19 июля 2015 г. в Петербурге 
        будет проведен первый в истории «Фестиваль ВКонтакте». На два летних дня Парк 300-летия Санкт-Петербурга
        превратится в оживший прототип ВКонтакте, где сообщества станут реальными клубами по интересам,
        аудиозаписи — любимыми исполнителями на сцене, а отметки «мне нравится» превратятся в живые эмоции и улыбки.</p>
    <p>Пространство парка будет поделено на зоны по интересам: «Музыка», «Спорт», «Инновации»,
        «Искусство», «Экстрим», «Драйв», «Игры», «Образование», «Медиа», «Юмор», «Еда», «Маркет», «Благотворительность», «ВКонтакте детям».</p>
    <p>В фестивале примут участие не только крупные группы-миллионники и известные бренды – любое сообщество может получить место под солнцем. 
        Главным критерием отбора станет оригинальность воплощения. Финальный состав сообществ-участников будет определен командой ВКонтакте после завершения отборочного этапа.</p>
    <p>Проект будет реализован командой ВКонтакте совместно с Радио Рекорд.</p>
    <p>Билеты на фестиваль можно приобрести на этом сайте. Стоимость билетов будет расти по мере приближения мероприятия.</p>
</article>

<aside>
    <h3>Подробнее</h3>
    <ul>
        <li>
            <a href="https://vk.com/fest">Все о событии</a>
        </li>
        <li><a href="https://vk.com/fest?w=page-86529522_49758235">Зоны</a></li>
    </ul>
</aside>