@{
    ViewBag.Title = "Фестиваль ВК";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                Фестиваль ВКонтакте впервые в истории соберет под открытым небом пользователей, сообщества и звезд социальной сети.
            </p>
        </div>
    </section>
}
<h3>Карта мероприятия:</h3>
<br>
<img src="/Images/map.jpg"/>
<ol class="round">
    @*<li class="one">
        <h5>Getting Started</h5>
        <a href="http://go.microsoft.com/fwlink/?LinkId=245151">Learn more…</a>
    </li>*@
</ol>
